.home {
  width: 70%;
  min-width: 700px;
}

.home-header {
  display: flex;
  align-items: center;
}

.home-main {
  display: flex;
}

.home-logo {
  height: 200px;
  border-radius: 50%;
  margin-right: 2rem;
}

.home-content {
  font-size: 0.9em;
  margin-right: 3rem;
  text-align: center;
}

.home-content p {
  margin: 3rem 0;
  text-align: justify;
}

.features-list {
    border: 2px dashed #aaa;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border-radius: 10px;
}

.features-list ol {
  list-style-position: inside;
}
