.footer {
    position: absolute;
    width: calc(100% - 1em);
    bottom: 0;
}

.footer p {
    display:flex;
    width: 100%;
    justify-content: center;
    text-decoration: underline;
    user-select: none;
}